<h1>{{title}}</h1>
<div [style.color]="color">
    Hello {{name}}
</div>


<!-- The difference between the one way binding (brutal way)-->
<div>
    <label for="brutalWay">The brutal way: </label>
    <input name="brutalWay" type="text" 
    [value]="name" 
    (keyup.enter)="name = $event.target.value"/>
</div>

<!-- And the two way binding (the right way) -->
<!-- Note: Special attetion to the "banana in a box" notation [()]-->
<div>
    <label for="bananaInABox"> The [(ngModel)] way: </label>
    <input name="bananaInABox" type="text" [(ngModel)]="name"/>
</div>

<button (click)="changeColor()"> Change name color </button>


<ul>
    <li *ngFor="let customer of customers">
        <span [style.color]="color">{{customer.id}}</span>
        <span> - {{ customer.name }}</span>
    </li>
</ul>

<button (click)="view.alert()"> alert </button>